@{
  Layout = "~/Views/_Layout.cshtml";
  ViewBag.Title = Model.to.data[0].name + " thread by " + Model.from.name + " (" + ViewData["CreateDate"] + ")";
}

@section Head {
  <meta property="og:title" content="@ViewBag.Title" />
  <meta property="og:description" content="@ViewData["Description"]" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://facebook/@Model.to.data[0].id" />
  <meta property="og:image" content="@Model.picture" />  
  <meta property="og:site_name" content="Skepti-Forum Archive" />
  <!-- 
    <PageMap>
      <DataObject type="thread">
        <Attribute name="forum">@Model.to.data[0].name</Attribute>
        <Attribute name="date">@Model.created_time.ToString("o")</Attribute>
        <Attribute name="author">@Model.from.name</Attribute>
        <Attribute name="comments">@ViewData["CommentCount"]</Attribute>
        <Attribute name="likes">@ViewData["LikeCount"]</Attribute>
        <Attribute name="statusType">@Model.status_type</Attribute>
        <Attribute name="type">@Model.type</Attribute>
      </DataObject>
    </PageMap>    
    -->

}

<base href="/Groups">

<main ng-app="app" ng-include="'/Threads/Detail.html'" ng-controller="ThreadDetailController as vm" ng-show="vm.post" vocab="http://schema.org/" typeof="QAPage"></main>

@section Scripts {
  <script src="~/Scripts/jquery-2.1.4.min.js"></script>
  <script src="~/Scripts/angular.min.js"></script> 
  <script src="~/Scripts/moment.min.js"></script>
  <script src="~/Scripts/angular-moment.min.js"></script>
  <script src="~/Shared/Scripts/app.js"></script>
  <script src="~/Threads/Detail.html.js"></script>
}
