@{
  Layout = "~/Views/_Layout.cshtml";
  ViewBag.Title = Model.Title;
}

@section Head {
  <meta property="og:title" content="@Model.Title" />
  <meta property="og:description" content="@Model.TruncateMessage(150)" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="@Model.Json.picture" />  
  <meta property="og:site_name" content="Skepti-Forum Archive" />
  <!-- 
    <PageMap>
      <DataObject type="thread">
        <Attribute name="forum">@Model.Group.Name</Attribute>
        <Attribute name="date">@Model.CreateDate.ToString("o")</Attribute>
        <Attribute name="author">@Model.Author</Attribute>
        <Attribute name="comments">@Model.CommentCount</Attribute>
        <Attribute name="likes">@Model.LikeCount</Attribute>
        <Attribute name="statusType">@Model.Json.status_type</Attribute>
        <Attribute name="type">@Model.Json.type</Attribute>
      </DataObject>
    </PageMap>    
    -->

}

<base href="/Groups">

<main ng-app="app" ng-include="'/Threads/Detail.html'" ng-controller="ThreadDetailController as vm" ng-show="vm.post" vocab="http://schema.org/" typeof="QAPage"></main>

@section Scripts {
  <script src="~/Scripts/jquery-2.1.4.min.js"></script>
  <script src="~/Scripts/angular.min.js"></script> 
  <script src="~/Scripts/moment.min.js"></script>
  <script src="~/Scripts/angular-moment.min.js"></script>
  <script src="~/Shared/Scripts/app.js"></script>
  <script src="~/Threads/Detail.html.js"></script>
}
