@{
  ViewBag.Title = "Reporting";
  Layout = "~/Views/_Layout.cshtml";
}

<main>
  <h1>Reporting</h1>

  <form method="post">

    <select name="groupId">
      <option value="-1">[All]</option>
      @foreach (var group in Model) {
        <option @((long)ViewData["GroupId"] == group.Id ? "selected" : "") value="@group.Id">@group.Name (@group.PostCount posts)</option>
      }
    </select>
    <button>Index</button>
  </form>



  <ul>
    @foreach (var key in ViewData) {
      <li>@key.Key: @key.Value</li>
    }
  </ul>

</main>

