<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Shared/Styles/Styles.css" rel="stylesheet" />
    @RenderSection("Head", false)
  </head>
  <body vocab="http://schema.org/" typeof="@(ViewBag.Schema?? "WebPage")">

    <header class="title">
      Skepti-Forum Archive
    </header>

    @RenderBody()

    @RenderSection("Scripts", false)

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-57114369-4', 'auto');
      ga('send', 'pageview');
    </script>
  
  </body>
</html>
